## DataTypes  in Python

The concept of DataTypes is important to understand.

A variable can store different types of data in it.

A datatype represents what type of data it is and what operations can be performed on this type of data.

----

DataTypes in Python :
1. Integer
2. Float
3. String
4. List
5. Tuple
6. Set
7. Dictionary

In [1]:
x = 8

In [2]:
type(x)

int

In [3]:
x = 777

In [4]:
y = 3.0

In [5]:
y = 77.77

In [6]:
z = 'My Name'

In [7]:
z = 'Is SHAGGY'

----

# List - It is a collection of different datatypes. It is created within [ ]

Properties of a List :
1. A list is Mutable (Can be altered/changed)
2. A list is Ordered
3. A list allows duplicate values

In [8]:
A = [1,3,5,7,7]

In [9]:
type(A)

list

In [10]:
B = [10,20,30]

In [11]:
A = [2.4,6,6.2,6.5,6.6]

In [12]:
A = [0,2,4,6,8,10,'India', 'is my country']

In [13]:
A

[0, 2, 4, 6, 8, 10, 'India', 'is my country']

----

# Tuple - It is also a collection of different datatypes. It is created within ( )

Properties of a Tuple :
1. A tuple is Immutable (Can't be altered/changed)
2. A tuple is Ordered
3. A tuple allows duplicate values

In [14]:
A = (1,2,3,4,5,5,4)

In [15]:
type(A)

tuple

In [16]:
A = (1,2,3,4.5,12.45,77.77)

In [17]:
A = (1,2,3,4.5,34.44,'India', 'Russia')

In [18]:
A = (12.23, 23.3334, 42.242)

In [19]:
A = ('India', 'Russia', 'Paris')

In [20]:
A

('India', 'Russia', 'Paris')

----

# Set -A set is a collection of datatypes which is unordered. It is created within { }

Properties of a Set :
1. It arranges the items in ascending order.
2. A Set doesn't allows duplicate values.

In [21]:
A = {2,4,6,8,10,12,14,16}

In [22]:
A.pop()

2

In [23]:
A = {1,2,3,4.5,5.6,'India','America'}

In [24]:
A

{1, 2, 3, 4.5, 5.6, 'America', 'India'}

In [25]:
type(A)

set

In [26]:
A = {2,1,4,3,'Hi','India','Country',4,3}

In [27]:
type(A)

set

In [28]:
A

{1, 2, 3, 4, 'Country', 'Hi', 'India'}

In [29]:
print(A)

{1, 2, 3, 4, 'Hi', 'Country', 'India'}

----

# Dictionary - A Dictionary is a collection of datatypes which is unordered, in a Key:Value pair form. It is also created within { }.

Properties of a Dictionary :
1. A Dictionary doesn't allows duplicate keys.
2. A Dictionary is Unordered.
3. A Dictionary is Mutable.

In [30]:
A = {"Ghatkopar":400086,
     "Vashi":402107,
     "Thane":400080,
     "Kurla":400070,
     "Sion":400022}

In [31]:
A

{'Ghatkopar': 400086,
 'Vashi': 402107,
 'Thane': 400080,
 'Kurla': 400070,
 'Sion': 400022}

In [41]:
A = { 1:'Asia' , 2:'Europe' , 3:'Africa'}
A

{1: 'Asia', 2: 'Europe', 3: 'Africa'}

In [42]:
A = { 'a':'Boom-Boom' , 'b':'is' , 'c':'fun'}
A

{'a': 'Boom-Boom', 'b': 'is', 'c': 'fun'}

In [43]:
B = {1.2 : 'Ram', 3.4:'Laxman'}
B

{1.2: 'Ram', 3.4: 'Laxman'}

In [35]:
type(B)

dict

By - Sagar Dumbre

----

#### We will cover more properties in our next separated videos of these datatypes.

#### And, we will cover Advanced properties also of these datatypes in our second playlist ( Advanced - Data Analysis with Python )

----

----

-----

----

In [36]:
X = (1,2,'python')
X

(1, 2, 'python')

In [37]:
type(X)

tuple

In [38]:
x = {'a':2, 'a':4}

In [39]:
x

{'a': 4}

In [40]:
type(x)

dict