## ' Tuple ' in Python

Tuple is a collection of different data-types like Integers, Floats, Strings.

Each element or value of the tuple is called an 'Item'. We can also say that a Tuple is a sequence of items.

A Tuple is created within ( )

List Vs Tuple
* List is created within [ ] while Tuple is created within ( )
* List items can be changed while Tuple items can't be changed

----

Tuple = ( integer , float , string )

In [34]:
A = (1,3,5,7,9)  #Integer Within Tuple

In [35]:
B = (1.11,2.22,3.33,4.44)  #Float Within Tuple

In [38]:
C = ('Hi','Jarvis', 'Thankyou')  #String Within list

In [41]:
D = (999,888,4.44,5.55,'Hi','Jarvis')  #Integer,Float,String within Tuples

In [40]:
type(B)

tuple

-----

----

'Index' in a tuple.

In [42]:
D

(999, 888, 4.44, 5.55, 'Hi', 'Jarvis')

In [43]:
D[4]

'Hi'

In [46]:
D[5]

'Jarvis'

----

----

----

----

----

----

### Properties of a Tuple

1. A tuple allows duplicate items(values) in it.

In [47]:
X = (9,8,7,777,777,'Earth','Earth')

In [48]:
X

(9, 8, 7, 777, 777, 'Earth', 'Earth')

2. A tuple is immutable. It means a tuple items can not be changed after creating the tuple.

In [49]:
X

(9, 8, 7, 777, 777, 'Earth', 'Earth')

In [63]:
X.append(5)

AttributeError: 'tuple' object has no attribute 'append'

----

## Indexing in a Tuple

In [50]:
X

(9, 8, 7, 777, 777, 'Earth', 'Earth')

In [51]:
X[0]

9

In [53]:
X[4]

777

In [58]:
X[0:6]  #Note in python Number always starts from 0

(9, 8, 7, 777, 777, 'Earth')

In [59]:
X[0:2] #Includes Starting range & exclude ending range

(9, 8)

In [61]:
X[0:]  #Here starting range is give and ending is not given it means it will display whole list from starting range

(9, 8, 7, 777, 777, 'Earth', 'Earth')

In [62]:
X[:]  # It will display whole range since starting & ending range is not given

(9, 8, 7, 777, 777, 'Earth', 'Earth')

Why Use Tuple ?

Tuple is used if you have to create a sequence of constant items which not needs to be changed later in the program

By - Sagar Dumbre