## ' Sets ' in Python

Set is a collection of different data-types like Integers, Floats, Strings.

Each element or value of the set is called an 'Item'. We can also say that a Set is a sequence of items.

A Set is created within { }

List vs Tuple vs Set 
* List is created within [ ] ,     Tuple is created within ( )  ,   Set is created within { }
* List items can be changed  ,     Tuple items can't be changed ,   In sets we can add or remove any element

----

Set = { Integer , Float , String }

In [1]:
A = {5,7,6,1,32,45,98,77, 'd','c','x','b','a'}

In [2]:
# X = set()  # to create an empty set
# type(X)
# X1 = set([1,2,3,4])     # to create a set with a list
# X2 = set((1,2,5,4,6,3,4,5))    # to create a set with a tuple

In [3]:
A   #Here it arranged the list in sequence

{1, 32, 45, 5, 6, 7, 77, 98, 'a', 'b', 'c', 'd', 'x'}

In [4]:
A.remove('c')

In [5]:
A

{1, 32, 45, 5, 6, 7, 77, 98, 'a', 'b', 'd', 'x'}

In [6]:
A.pop() # delete any element randomly

32

-----

----

# 'Index' in a Set

In [7]:
A.add(777)  # Added in sequence

In [8]:
A

{1, 45, 5, 6, 7, 77, 777, 98, 'a', 'b', 'd', 'x'}

In [9]:
A.add(111)

In [10]:
A

{1, 111, 45, 5, 6, 7, 77, 777, 98, 'a', 'b', 'd', 'x'}

In [11]:
print(A)

{1, 98, 'a', 'x', 5, 6, 7, 'b', 777, 45, 77, 'd', 111}

In [12]:
B = {22,51,67,1,3,4,5,0.2,1.5}

In [13]:
B

{0.2, 1, 1.5, 3, 4, 5, 22, 51, 67}

----

----

----

### Properties of a Sets

1. Arrange the items in Ascending order

In [14]:
S = {999,45,22,777,4679,'z','y','s','d','a'}
S  # Automaticially sequencilized list

{22, 45, 4679, 777, 999, 'a', 'd', 's', 'y', 'z'}

In [15]:
x = {'f','e','a','h','r','c','d'}
x

{'a', 'c', 'd', 'e', 'f', 'h', 'r'}

2. A set doesn't allows duplicate items(values) in it.

In [16]:
g = {1,5,4,6,7,8,1,5,4,6}
g # Duplicate values are not displayed

{1, 4, 5, 6, 7, 8}

In [17]:
l = {'s','f','g','q','s','f','g'}
l

{'f', 'g', 'q', 's'}

3. We can add or delete the elements in a set

In [18]:
A.add(0)

In [19]:
A.remove(98)

In [20]:
A

{0, 1, 111, 45, 5, 6, 7, 77, 777, 'a', 'b', 'd', 'x'}

Created by - Sagar Dumbre