## DataType Casting

Datatype casting ( Datatype Conversion ) means converting one datatype to other datatype.

Ex - Integer to Float, Float to Integer , Integer to String , Float to String etc.

In [1]:
# interger to float

In [2]:
a = 777

In [3]:
type(a)

int

In [4]:
a = float(a)

In [5]:
a

777.0

In [6]:
type(a)

float

------------

In [7]:
# integer to string

In [8]:
b = 666

In [9]:
type(b)

int

In [10]:
b = str(b)

In [11]:
b

'666'

In [12]:
type(b)

str

----------------

In [13]:
# float to integer

In [14]:
b = 999.20

In [15]:
type(b)

float

In [16]:
b = int(b)

In [17]:
b

999

In [18]:
type(b)

int

-----------

In [19]:
# float to string

In [20]:
c = 789.567

In [21]:
type(c)

float

In [22]:
c = str(789.567)

In [23]:
c

'789.567'

In [24]:
type(c)

str

-------------

In [25]:
# string to integer

In [26]:
x = '2000'

In [27]:
x

'2000'

In [28]:
type(x)

str

In [29]:
x = int(x)

In [30]:
x

2000

In [31]:
type(x)

int

In [32]:
y = 'Hello World'

In [33]:
int(y) # Here It will not convert this type of string to any form only numeric value can be converted

ValueError: invalid literal for int() with base 10: 'Hello World'

Created By - Sagar Dumbre