## Range ( )

The range function creates a sequential list of numbers

By default - this list starts from 0 , ends at one value less than the specified number, and the list is incremented by 1

We need to use the 'list' function because when we use 'range' on its own, it creates something called a 'range object'. To work with it more easily, we change it into a list using 'list'.

In [1]:
a = range(8)

In [2]:
print(a)

range(0, 8)

In [3]:
b = list(range(9))

In [4]:
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
c = list(range(70)) # As early stated it includes starting range & exclude ending range

In [6]:
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69]

If the 'range' is called with one argument, it produces values starting from 0

----

If the 'range' is called with two arguments, then it produces values from the first to the second argument

In [7]:
x = list(range(1,20))

In [8]:
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [9]:
y = list(range(13,33))

In [10]:
print(y)

[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]

---

In [29]:
range(20) == range(0,20)

True

In [28]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [26]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Therefore above's output is True

In [14]:
range(0,11) == range(10)

False

In [15]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Therefore Above's output is False

In [17]:
a = list(range(1,10))

In [18]:
len(a)

9

In [19]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

----

'Range' can have a third argument, which determines the interval of the sequence produced

In [20]:
a = list(range(1,13))

In [21]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [30]:
a = list(range(1,13,3)) # a=(Starting range,Ending range,after how many intervals number should appear)

In [23]:
print(a)

[1, 4, 7, 10]

In [31]:
a = list(range(1,1000,10))

In [32]:
print(a)

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 201, 211, 221, 231, 241, 251, 261, 271, 281, 291, 301, 311, 321, 331, 341, 351, 361, 371, 381, 391, 401, 411, 421, 431, 441, 451, 461, 471, 481, 491, 501, 511, 521, 531, 541, 551, 561, 571, 581, 591, 601, 611, 621, 631, 641, 651, 661, 671, 681, 691, 701, 711, 721, 731, 741, 751, 761, 771, 781, 791, 801, 811, 821, 831, 841, 851, 861, 871, 881, 891, 901, 911, 921, 931, 941, 951, 961, 971, 981, 991]

By - Sagar Dumbre